.player{
margin-top:20px;
width:200px;
}
.album-art-container{
}
.album-art{
width:200px;
}

.meta{
}

.track-name{
font-size:20px;
font-weight: bold;
margin: 0;
}
.artist-name{
font-size:20px;
margin: 0px;}

.album-name{
font-size:16px;
margin: 0px;}

.spotify-currently-playing-top {
  display: block;
}

.spotify-currently-playing-top > .meta{
  margin-bottom: 8px;
}

.spotify-currently-playing-bottom {
  display: block;
}

.spotify-currently-playing-left {
  display: inline-flex;
}

.spotify-currently-playing-right {
  display: inline-flex;
}

.spotify-currently-playing-right > .meta{
  margin-left: 16px;
}

.spotify-currently-playing-left {
  display: inline-flex;
}

.spotify-currently-playing-left > .meta{
  margin-right: 16px;
}
